body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
header {
    background-color:  #157FFB  ;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    position: sticky;
    z-index: 1000;
    top: 0;
    a {
        color: white;
        text-decoration: none;
        align-content: center;
        font-size: 1.302vw;
    }
    img{
        width: 13.021vw;
    }
    .boton-consultar {
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid white;
        border-radius: 25px;
        background-color: aliceblue;
        color: black;
    }
 }
.tu{
    background-image: url("/assets/imagenes/Fondo.png");
    background-size: cover;
    padding: 0;
    .con {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        
        span { 
            color: rgb(0, 0, 0);
            font-size: 2.865vw;
            text-align: center;
        }
        p {
            font-size: 1.563vw;
            text-align: center;
            grid-area: 2 / 2 / 3 / 3;
            margin: 0;
        }
        img {
            width: 32.917vw;
            grid-area: 1 / 1 / 4 / 2;
            margin-top: 5vh;
            margin-left: 5vw;
            margin-bottom: 5vh;
        }
        button {
            grid-area: 3 / 2 / 4 / 2;
            justify-self: center;
            align-self: center;
            width: max-content;
            background-color: #365dfc;
            border: 0px;
            border-radius: 25px;
            padding: 18px;
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}
.Content-que {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}
.titulo-que {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 3vw;
}
.parrafo-que{
    text-align: center;
    font-size: 1.50vw;
    line-height: 150%;
    margin-left: 15vh;
    margin-top: -2vh;
}
.diseño {
    grid-column: 2 / 3;
    width: 47vw;
    justify-self: center;
    object-fit: cover;
    margin-top: 5vh;
    margin-left: 50vw;
    position: absolute;
}
.img-etapas{
    grid-column: 1 / -2;
    width: 15vw;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    margin-top: 0vh;
    margin-left: -2vh;
}

.titulo-etapas {
    text-align: center;
    margin: 2;
    font-size: 2vw;
}

.section-etapas-enumeradas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    h4{
        margin: 5px;
        font-size: 2.344vw;
        font-weight: 400;
    }
    
}

.section-etapas-fechas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    h5 {
        margin: 0;
        font-size: 2.604vw;
    }
}
.titulo-bancos {
    font-size: 2vw;
    text-align: center;
    font-weight: 400;
}
.section-etapas-images1 {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 400px;
    }
}

.section-etapas-images2 {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 200px;
    }
}

.boton-preguntas-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.section-preguntas-frecuentes h2 {
    text-align: center;
    font-weight: 200;
    font-size: 2.865vw;
}

.parrafo-preguntas {
    margin-bottom: 2rem;
    text-align: center;
}
.parrafo-preguntas h3 {
    font-size: 2rem;
    margin-bottom: 0;
    font-style: italic ;
}
.parrafo-preguntas i {
    background-color: #157FFB;
    padding: 10px 15px;
    border-radius: 100%;
    color: #FFFFFF;
    font-size: 1.5625rem;
}

.parrafo-preguntas p {
    font-size: 1.8rem;
    font-weight: 200;
}

.texto4 {
    font-size: 2.604vw;
    text-align: center;
    margin-bottom: 0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-mas-preguntas {
    background-color: #157FFB;
    border-radius: 25px;
    width: 80vw;
    padding: 20px; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.section-mas-preguntas h3 {
    color: white;
    font-size: 22px;
    text-align: center;
}

.section-mas-preguntas p {
    color: white;
    text-align: center;
}

.section-mas-preguntas button {
    color: #FFFFFF;
    margin-top: 10px;
    background: #FFFFFF;
    color: black;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border: 0px;
}

.footer img{
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 0;
}

@media (max-width: 430px) and (max-height: 932px) {
    .section-mas-preguntas {
        width: 90vw; 
        padding: 10px; 
        border-radius: 15px; 
    }

    .section-mas-preguntas h3 {
        font-size: 18px; 
    }

    .section-mas-preguntas p {
        font-size: 14px; 
    }

    .section-mas-preguntas button {
        width: 120px; 
        height: 40px; 
        font-size: 14px; 
    }

    header {
        flex-direction: column; 
        padding: 10px 0; 
        
        align-items: center;
        padding: 2vh;
        position: static;
    }

    header a {
        font-size: 4vw; 
    }

    header img {
        opacity: 0; 
    }
    
    .main .content-grilla{
        display: flex;
        flex-direction: column;
    }
    .main .content-grilla img {
        width: 90vw;
    }

    .main .content-grilla p {
        font-size: 1.2rem;
    }
    .main .content-grilla p span {
        font-size: 1.5rem;
    }

    .Content-que {
        grid-template-columns: 1fr; 
        margin: 0; 
    }

    .titulo-que {
        font-size: 6vw; 
    }

    .parrafo-que {
        font-size: 4vw; 
        margin-left: 0; 
    }

    .diseño {
        opacity: 0; 
    }

    .img-etapas {
        width: 40vw; 
        margin-left: 0; 
    }

    .titulo-etapas {
        font-size: 4vw; 
    }

    .section-etapas-enumeradas h4,
    .section-etapas-fechas h5,
    .titulo-bancos {
        font-size: 3.8vw;
        text-align: center;
    }

    .section-etapas-images1 img,
    .section-etapas-images2 img {
        width: 25vw; 
    }

    .section-preguntas-frecuentes h2 {
        font-size: 5vw; 
    }

    .parrafo-preguntas h3 {
        font-size: 4vw; 
    }

    .parrafo-preguntas p {
        font-size: 4vw; 
    }

    .texto4 {
        font-size: 4vw; 
    }

    .footer {
        position: relative; 
        width: 100%; 
        text-align: center;
        margin: 0;
        padding: 0;
        img {
            width: 100%; 
        }
    }
}





